.zala/
.ipynb_checkpoints/
requirements.txt
SQL/bd/
SQL/__pycache__/
SQL/PySpark/__pycache__/
file_manager_tkinter/actions/__pycache__/
file_manager_tkinter/views/__pycache__/
monitor_CPU_RAM_GPU/__pycache__/
zala_task/dataset/
monitor/__pycache__/
zala_task/dataset_full/
zala_task/datasets/
zala_task/datasets2/
zala_task/runs/
zala_task/dataset_original/
zala_task/datasets_augmented/
zala_task/datasets_full_yolo/
zala_task/1_dataset_original/
zala_task/2_datasets_full_yolo/
zala_task/4_datasets_augmented/
zala_task/3_dataset_split/
zala_task/5_dataset_full/
zala_task/5_datasets_copy/

zala_task/video/
zala_task/models/
